	.nobr {white-space: nowrap;}
	table td {border: solid 1px #BBB; padding: .2em;}
	tbody tr:first-child td {border-top: solid 1px #000;}
	body {margin: 0 0 1.5em; padding: 0; font-size: 95%; font-family: Georgia;
		background-color: #DDB; color: #000;}
	/* h1 {padding: .5em; margin: 0; background-color: #AAF;} */
	h1 {display: none;}
	div.text {padding: 1em;}

menu li {display: inline; padding: 0 .5em;}
menu li + li {border-left: 1px solid #666;}
menu {background-color: #CCB; margin: 0; padding: .5em; border-bottom: 1px solid #999;}

#add td { background-color: #EEC;}

#add table {margin: 0 0 1em 0;background-color: #BB9;}
#add tbody tr:first-child td {border-top: none;}

td.editbutton {white-space: nowrap;}

.negative {color: red;}
td.number {text-align: right;}
td.reedit {text-align: right;}
td.where {background-color: #AA7;}

tfoot td {font-weight: bold; border-top: 1px #666 solid; border-bottom: 3px #666 double;}

tr.even {background-color: #BBA;}
a:visited {color: #663;}

/* schema */

#schema {float: left; padding-right: 1em; padding-bottom: 1em;}
#schema td {width: 5em; height: 5em; text-align: center; vertical-align: middle;}
#schema .zeile3 td {height: 2.5em;}

#add .error td,
tr.error td, tr.error th {background: red;}
tr.error td {border-color: red;}