body {background: #FFF; color: black;}
h1 {display: none;}


/* Datenbank */

#editinc {empty-cells: show;}
#editinc {font-size: 95%;}
#editinc table {font-size: 95%; border-collapse: collapse;}
#editinc .editbutton {background: white; padding: 0 .5em;}

#editinc th {width: auto; text-align: left; vertical-align: top;}
#editinc td {vertical-align: top;}
#editinc td p {margin-top: 0;}

#editinc table td {bborder: solid 1px #BBB; padding: .2em;}
#editinc tbody tr:first-child td {border-top: solid 1px #000;}
	/* h1 {padding: .5em; margin: 0; background-color: #AAF;} */
#editinc h1 {display: none;}
#editinc div.text {padding: 1em;}

#editinc menu li {display: inline; padding: 0 .5em;}
#editinc menu li + li {border-left: 1px solid black;}
#editinc menu {background-color: #AAF; margin: 0; padding: .5em;}

#editinc #add th, #editinc #add td {line-height: 1.5em; padding: .25em .5em;}
#editinc td, #editinc th {padding: 0 .5em; }
#editinc .data td, #editinc .data th {vertical-align: top; padding: .25em .5em;}
#editinc .data thead td, #editinc .data thead th {text-align: left; vertical-align: bottom;}
#editinc #add tfoot th, #editinc #add tfoot td {padding: .5em; background: #69C; } 

#editinc #add table {margin: 0 0 1em 0;background-color: #C7CCF8;}
#editinc #add tbody tr:first-child td {border-top: none;}

#editinc .negative {color: red;}
#editinc td.number {text-align: right;}
#editinc td.reedit {text-align: right;}

#editinc td.recordid, #editinc th.recordid {display: none;}

#editinc tr.even {background-color: #C7CCF8;}

#add .error td, tr.error td, tr.error th {background: red;}
tr.error td {border-color: red;}

#editinc ul li {padding-top: 0; padding-bottom: 0; line-height: 120%;}
#editinc .where {background-color: #69C;}

form {margin-top: 1em;}