/* zzform CSS by Gustaf Mossakowski <gustaf@koenige.org>, 2005-2006 */

#zzform {z-index: 3;}

#zzform .nobr {white-space: nowrap;}
div.text #zzform	 {padding: 1em;}
	
#zzform #record table {margin: 0 0 1em 0;}
#zzform #record tbody tr:first-child td {border-top: none;}
#zzform #record table table {margin: 0 0 .5em; border-collapse: collapse;}
#zzform #record table table th {font-weight: normal; }
#zzform #record .subtable table {float: left;}
#zzform #record .detailrecord {clear: both;}
#zzform #record .subtable td {/*width: 88%;*/ text-align: left; }
#zzform #record .subtable td {padding: 0 0 .25em 0;}
#zzform #record .subtable th {padding: 0 .5em .25em 0;}
#zzform #record .subtable th {width: 12%;}
#zzform #record .subtable {margin: 0;}
#zzform #record .subtable table {margin-bottom: .4em;}

#zzform #record .subtable .horizontal {width: auto;}
#zzform #record .subtable .horizontal td {width: auto; padding-right: .5em;}
#zzform #record .subtable .horizontal th {width: auto; font-weight: bold;
	padding-right: .75em;}

#zzform #record .tick_to_save {float: left; padding-right: .5em; margin: 0;}

#zzform .negative {color: red;}
#zzform td.number, #zzform #record .subtable td.number {text-align: right;}
#zzform td.reedit {text-align: right;}
#zzform th.where {padding-top: .5em;}

#zzform tfoot td {font-weight: bold; border-top: 1px solid; border-bottom: 3px double;}

#zzform img {border: none;}

#zzform .recordid {display: none;}
#zzform .idrow {display: none;}

#zzform {empty-cells: show;}
#zzform table {border-collapse: collapse;}
#zzform .editbutton {padding: 0 .5em;}

#zzform th {width: auto; text-align: left; vertical-align: top;}
#zzform td {vertical-align: top;}
#zzform td p {margin-top: .5em; margin-bottom: .5em;}

#zzform #record .subtable td p, #zzform #record .subtable th p,
#zzform table td { padding: .2em;}

#zzform td h1, #zzform td h2, #zzform td h3, #zzform td h4, #zzform td h5,
	#zzform td h6 {margin: 0 0 .5em;}
#zzform div.text {padding: 1em;}

#zzform #record th, #zzform #record td {line-height: 1.5em; padding: .25em .5em;}
#zzform td, #zzform th {padding: 0 .5em; }
#zzform .data td, #zzform .data th {vertical-align: top;}
#zzform .data thead td, #zzform .data thead th 
	{text-align: left; vertical-align: bottom;}
#zzform #record tfoot th, #zzform #record tfoot td {padding: .5em; border: none;} 

#zzform #record tbody tr:first-child td {border-top: none;}

#zzform .error, #zzform .subtable .horizontal td.error {background-color: #F00; color: white; padding: .25em; }
#zzform div.error {margin: 1em 0; padding-left: .75em;}

#zzform #record tr.error td, #zzform #record tr.error th, 
	#zzform #record .subtable td.error {background-color: red;}
#zzform .error small { padding: 0 .4em; display: block; }

#zzform table.data { margin: .5em 0; }
#zzform table.data td {padding: 0.25em .5em;}
#zzform table.data thead td, #zzform table.data thead th {padding-bottom: .25em;
	border-bottom: 1px solid;}
#zzform table.data tr.group td {border-top: 1px solid; padding-top: 1em;}
#zzform table.data tr.group_sum td {padding-bottom: .5em; font-weight: bold;}

#zzform td.last {border-bottom: 1px solid;}
#zzform .pages .last {border-bottom: none;}

#zzform td p, #zzform td ul {margin-top: 0;}
#zzform td p:last-child {margin-bottom: 0;}

#zzform .hidden {display: none;}
#zzform form .hidden_in_form {display: none;}

#zzform option.level0 {font-weight: bold;}
#zzform option.level1 {padding-left: 2em;}
#zzform option.level2 {color: #339; padding-left: 4em;}
#zzform option.level3 {font-style: italic; padding-left: 6em;}
#zzform option.level4 {padding-left: 8em;}
#zzform option.level5 {padding-left: 10em;}
#zzform option.level6 {padding-left: 12em;}

#zzform input.sub-add {float: left; clear: left; margin-top: 0;}
#zzform input.sub-remove {float: left; margin: 0 0 .5em; }

#zzform ul.pages {margin: 0; padding: 0 0 1em 0; list-style: none; }
#zzform ul.pages li {margin: 0; float: left; padding: 0; border-left: 1px solid;}
#zzform ul.pages li a, #zzform ul.pages li span { padding: 0 .5em; }
#zzform ul.pages li.first { border-left: 0;}
#zzform ul.pages li.first a, #zzform ul.pages li.first span 
	{ padding-left: 0; }
#zzform p.totalrecords {margin-bottom: 0;}

#zzform p.desc, #zzform .explanation 
	{margin: 0; padding: 0; font-weight: normal; font-size: 90%; clear: both;}
#zzform p.explanation {line-height: 1.2;}

#zzform #record .upload td, #zzform #record .upload th {padding-top: 0;}
#zzform #record .upload th {padding-left: 0;}
#zzform #record .upload {padding-bottom: 0; margin-bottom: 0;}

#zzform .option th {font-weight: normal; text-align: right;}

#zzform .zz_radio_list {list-style: none; padding: 0; margin: 0;}
#zzform .zz_radio_list li {list-style: none; padding: 0; margin: 0;}
body #zzform .separator hr {width: 100%; margin: 0.25em 0; height: 3px;
	max-width: none;}
#zzform .left_separator {border-left: 3px #FFF solid;}
#zzform #record td.separator {padding: .25em 0;}

#zzform div.level1 {padding-left: 2.5em; /* background: url line-vertical.gif  .5em 0 repeat-y; */
	margin-bottom: -.25em; padding-bottom: .25em; /* overwrite padding of td */}
#zzform table td.level1 {padding-left: 2.5em; /*background: url line-vertical.gif  1em 0 repeat-y; */}
#zzform table td.last {background-position: 1em 50%;}

#zzform table td.level2 {padding-left: 5em; /* background: url line-vertical.gif  1em 0 repeat-y; */}
#zzform table td.level3 {padding-left: 7.5em;}
#zzform table td.level4 {padding-left: 10em;}
#zzform table td.level5 {padding-left: 12.5em;}
#zzform table td.level6 {padding-left: 15em;}
#zzform table td.level7 {padding-left: 17.5em;}
#zzform table td.level8 {padding-left: 20em;}
#zzform table td.level9 {padding-left: 22.5em;}
#zzform table td.level10 {padding-left: 25em;}

#zzform optgroup { font-style: normal; font-weight: bold; }

#zzform table td small {font-size: 90%;}

#zzform ul.data		{padding: 0; margin: 1em 0;}
#zzform ul.data li	{float: left; overflow: hidden; list-style: none;
					margin: 0 1em 1em 0; padding: 0;} 
#zzform ul.data img	{vertical-align: middle; margin: 0; border: 0; padding: 0;}
#zzform ul.data p	{margin: 0; font-size: 90%;}
#zzform ul.data p.editbutton {padding: 0;}

#zzform input, #zzform textarea {text-rendering:optimizeSpeed;} /* get rid of Firefox wrong ligatures */

#zzform .current_record td, #zzform .current_record p { background: yellow; }

#zzform #record .reselect th, #zzform #record .reselect td, #zzform #record .reselect
	{background-color: green;}

.debug {background: white; border: 1px solid black; overflow: auto; font-size: 75%;}
.debug h1 {padding-left: .5em;}
#zzform .debugtable dl { padding: 0; margin: 0; line-height: 1.5;}
#zzform .debugtable dt { font-weight: bold; }
#zzform .debugtable dd { padding: 0; margin: 0; }

/* Filter */
#zzform .zzfilter {margin: 1em 0 1.5em;}
#zzform .zzfilter dl {margin: 0; padding: 0;}
#zzform .zzfilter dt {float: left; clear: left;}
#zzform .zzfilter dd {margin: 0; padding: 0 .5em; float: left;
	border-right: 1px solid black; white-space: nowrap; }
#zzform .zzfilter dd.filter_all {border-right: none; /* for old browsers */}
#zzform .zzfilter dd:last-child {border-right: none;}

/* Variables */
.zzvariables th { white-space: nowrap; text-align: left; padding-right: .5em; 
		vertical-align: top; }

#zzform .highlight { background-color: yellow; color: black; }

#zzform .blocklabel { display: block; height: 100%; width: 100%; }
