/* zzform CSS by Gustaf Mossakowski <gustaf@koenige.org>, 2005-2006 */

#zzform {z-index: 3;}

#zzform .nobr {white-space: nowrap;}
#zzform table td {padding: .2em;}
div.text #zzform	 {padding: 1em;}
	
#zzform #record table {margin: 0 0 1em 0;}
#zzform #record tbody tr:first-child td {border-top: none;}
#zzform #record table table {margin: 0 0 .5em; border-collapse: collapse;}
#zzform #record table table th {font-weight: normal; }
#zzform #record .subtable table {width: 100%; text-align: left;}
#zzform #record .subtable td {width: 88%; text-align: left;}
#zzform #record .subtable th {width: 12%;}
#zzform #record .subtable {margin: 0;}

#zzform .negative {color: red;}
#zzform td.number {text-align: right;}
#zzform td.reedit {text-align: right;}
#zzform th.where {padding-top: .5em;}

#zzform tfoot td {font-weight: bold; border-top: 1px solid; border-bottom: 3px double;}

#zzform img {border: none;}

#zzform .recordid {display: none;}
#zzform .idrow {display: none;}

#zzform {empty-cells: show;}
#zzform table {border-collapse: collapse;}
#zzform .editbutton {padding: 0 .5em;}

#zzform th {width: auto; text-align: left; vertical-align: top;}
#zzform td {vertical-align: top;}
#zzform td p {margin-top: 0;}

#zzform table td { padding: .2em;}
#zzform h1 {font-size: 140%; margin: 0;}
#zzform div.text {padding: 1em;}

#zzform #record th, #zzform #record td {line-height: 1.5em; padding: .25em .5em;}
#zzform td, #zzform th {padding: 0 .5em; }
#zzform .data td, #zzform .data th {vertical-align: top;}
#zzform .data thead td, #zzform .data thead th {text-align: left; vertical-align: bottom;}
#zzform #record tfoot th, #zzform #record tfoot td {padding: .5em; border: none;} 

#zzform #record tbody tr:first-child td {border-top: none;}

#zzform .error {background: red; color: white; padding: .25em;}
#zzform div.error {margin: 1em 0;}
#zzform #record .error td, #zzform #record .error th {background: red;}
#zzform tr.error td {border-color: red;}

#zzform table.data td {padding: 0.25em .5em;}
#zzform table.data thead td, #zzform table.data thead th {padding-bottom: .25em;
	border-bottom: 1px solid;}

#zzform td p, #zzform td ul {margin-top: 0;}

#zzform .hidden {display: none;}

#zzform .level0 {font-weight: bold;}
#zzform .level2 {color: #339;}
#zzform .level3 {font-style: italic;}

#zzform .sub-add input {float: right; font-weight: bold; background: green; color: white; 
	margin-left: .5em;}
#zzform .subtable input.sub-remove {background: red; color: white; float: left; font-weight: bold; 
	margin-right: .5em;}

#zzform form .reselect td, #zzform form .reselect th, 
#zzform #record .subtable .reselect td, #zzform #record .subtable .reselect th {
	background: green; color: white; padding: .25em;}

#zzform h2 {line-height: 120%; font-size: 140%;}

#zzform ul.pages {margin: 0; padding: 0 0 1em 0; list-style: none; }
#zzform ul.pages li {margin: 0; float: left; padding: 0 .5em; border-left: 1px solid;}
#zzform ul.pages li.first {padding-left: 0; border-left: 0;}
#zzform p.totalrecords {margin-bottom: 0;}

#zzform p.desc, #zzform .explanation 
	{margin: 0; padding: 0; font-weight: normal; font-size: 90%;}

#zzform #record .upload td, #zzform #record .upload th {padding-top: 0;}
#zzform #record .upload th {padding-left: 0;}
#zzform #record .upload {padding-bottom: 0; margin-bottom: 0;}